
/* =========================================
            Website Resets
============================================ */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: 'Inconsolata', monospace;
}

*::-moz-focus-inner {
    border: 0;
}

*:focus {
    outline: none;
}
body {
    background-color: #555;
    color: #bbb;
}

.center-wrapper {
    width: 50%;
    margin: 2em auto;
}
.sub-heading {
    margin-bottom: 1em;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
#weekday-list {
    width: 75%;
    margin: 0 auto;
}
#weekday-list li {
    list-style-type: none;
    font-size: 1.25rem;

}
input[type='checkbox'] .day {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.day-label {
    margin-left: .5em;
    cursor: pointer;
}

p#workdays {
    text-align: center;
    font-size: 1.5rem;
}
/*Desktop First Common Breakpoints*/


/*tablet landscape and desktop layout (960px or more) */
@media only screen and (min-width: 960px) {
    /*...tablet landscape and desktop styles */
}

/*table portrait layout (768px to 959px) */
@media only screen and (max-width: 1024px) {
    /*... tablet portrait styles */
    html {
        font-size: 83.3%;
    }

    .center-wrapper {

        margin: 3em auto;
    }
}

/*mobile landscape layout (480px to 767px) */
@media only screen and (max-width: 768px) {
    /*...mobile landscape styles */
    html {
        font-size: 75%;
    }
    .center-wrapper {
        margin: 5em auto;
        margin-bottom: 2em;
    }
    .sub-heading {
        font-size: 1.25rem;
    }
    p#workdays {
        font-size: 1.25rem;
    }
}

/*mobile portrait layout (479px or less) */
@media only screen and (max-width: 479px) {
    /*...mobile portrait styles */
    html {
        font-size: 62.5%;
    }
    .center-wrapper {
        width: 75%;
    }
    p#workdays {
        font-size: 1rem;
    }
}